/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Parallax sections */
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* First image */
.bg1 {
    background-image: url("https://preview.redd.it/random-question-but-does-anyone-have-versions-of-this-cat-v0-ya8qikz9kn0f1.png?auto=webp&s=c2fdba9a3904ab3bec9e7367e380f66343c2929a");
}
  
/* Second image */
.bg2 {
    background-image: url("https://media.tenor.com/vSOipmxhVSgAAAAM/dog-relax.gif");
}
  
/* Centered message */
.message {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
}
  
/* Black block section */
.content {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 24px;
}
  